@import "tailwindcss";

@theme {
  --color-foreground: 0 0 0;
  --color-background-start: 214 219 220;
  --color-background-end: 255 255 255;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-foreground: 255 255 255;
    --color-background-start: 0 0 0;
    --color-background-end: 0 0 0;
  }
}

body {
  color: rgb(var(--color-foreground));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--color-background-end))
    )
    rgb(var(--color-background-start));
}

@utility text-balance {
  text-wrap: balance;
}
