*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-container {
  background-color: var(--cp-surface);
  /* overflow: hidden; */
}
.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: red;
}

li[data-qa^="MenuItem"] {
  background-color: var(--cp-surface) !important;
}

li[data-qa^="MenuItem"] button {
  background-color: var(--cp-surface) !important;
  color: var(--cp-text) !important;
}

li[data-qa^="MenuItem"] button:hover {
  background-color: var(--cp-surface-hovered) !important;
}

li[data-qa^="MenuItem"] button[data-is-hovered^=""] {
  outline: none !important;
  border-width: 0px !important;
}

#icon-info-drawer {
  height: calc(100vh - 80px);
}

/* UTILS */

.truncate {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#color-menu-item [data-qa^="MenuItem"] button:hover {
  background-color: transparent !important;
}

.text-decoration-none {
  text-decoration: none;
}

.cp-color-picker > .saturation-picker .react-colorful {
  width: 100%;
  height: 100%;
}

.cp-color-picker > .saturation-picker .react-colorful__saturation {
  border-radius: 8px;
  border-bottom: none;
}

.cp-color-picker > .saturation-picker .react-colorful__hue {
  margin-top: 20px;
}

.cp-color-picker > .saturation-picker .react-colorful__hue,
.cp-color-picker > .saturation-picker .react-colorful__alpha {
  height: 19px;
  border-radius: 10px;
}

.cp-color-picker > .saturation-picker .react-colorful__saturation-pointer {
  width: 20px;
  height: 20px;
}

.cp-color-picker > .saturation-picker .react-colorful__hue-pointer,
.cp-color-picker > .saturation-picker .react-colorful__alpha-pointer {
  width: 16px;
  height: 16px;
}

.banner-icons .row {
  will-change: transform;
  animation: bottomTop 13s linear infinite;

  transform: translate(0, 0);
  /* top: -50%; */
}

@keyframes bottomTop {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

#icon-controls-color-picker {
  width: 24px;
  height: 24px;
  border-radius: 1px;
}

@media screen and (min-width: 420px) {
  .truncate {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 550px) {
  .truncate {
    width: 250px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 550px) {
  #icon-controls-color-picker {
    width: 61px;
  }
}
