/* ligth theme */

html[data-theme='light'] {
  /* SURFACES */

  --cp-surface: var(--cp-white);
  --cp-surface-subdued: var(--cp-zinc-50);
  --cp-surface-hovered: var(--cp-zinc-100);
  --cp-surface-pressed: var(--cp-zinc-200);
  --cp-surface-active: rgba(228, 228, 231, 0.5);
  --cp-surface-input: var(--cp-white);

  --cp-surface-secondary: var(--cp-pink-700);
  --cp-surface-secondary-subdued: var(--cp-pink-100);
  --cp-surface-secondary-hovered: var(--cp-pink-400);
  --cp-surface-secondary-pressed: var(--cp-pink-800);
  --cp-surface-secondary-light: var(--cp-orange-50);

  --cp-surface-primary: var(--cp-violet-600);
  --cp-surface-primary-subdued: var(--cp-violet-100);
  --cp-surface-primary-hovered: var(--cp-violet-400);
  --cp-surface-primary-pressed: var(--cp-violet-800);
  --cp-surface-primary-light: var(--cp-violet-100);

  --cp-surface-critical: var(--cp-red-700);
  --cp-surface-critical-subdued: var(--cp-red-200);
  --cp-surface-critical-hovered: var(--cp-red-400);
  --cp-surface-critical-pressed: var(--cp-red-800);

  --cp-surface-warning: var(--cp-yellow-500);
  --cp-surface-warning-subdued: var(--cp-yellow-100);

  --cp-surface-success: var(--cp-green-600);
  --cp-surface-success-subdued: var(--cp-green-50);

  /* TEXT */
  --cp-text: var(--cp-gray-1100);
  --cp-text-soft: var(--cp-gray-700);
  --cp-text-strong: var(--cp-gray-900);
  --cp-text-disabled: var(--cp-gray-200);

  --cp-text-critical: var(--cp-red-700);
  --cp-text-warning: var(--cp-yellow-600);
  --cp-text-success: var(--cp-green-600);
  --cp-text-secondary: var(--cp-pink-700);

  --cp-text-on-primary: var(--cp-red-50);
  --cp-text-primary: var(--cp-violet-600);

  /* ICONS */
  --cp-icon: var(--cp-gray-1100);
  --cp-icon-disabled: var(--cp-gray-200);
  --cp-icon-on-primary: var(--cp-gray-50);

  --cp-icon-critical: var(--cp-red-700);
  --cp-icon-warning: var(--cp-yellow-600);
  --cp-icon-success: var(--cp-green-600);
  --cp-icon-primary: var(--cp-violet-600);

  /* BORDERS */

  --cp-border: var(--cp-gray-200);
  --cp-border-critical: rgba(170, 51, 52, 0.533);
  --cp-border-warning: rgba(207, 126, 41, 0.533);
  --cp-border-success: rgba(78, 132, 55, 0.533);
  --cp-border-primary: rgba(114, 109, 196, 0.533);
  --cp-border-secondary: rgba(148, 65, 112, 0.533);
  --cp-border-focus: rgb(79, 219, 209);
  --cp-shadow: rgba(188, 187, 232, 0.329);
}

/* dark theme variables */

html[data-theme='dark'] {
  --cp-shadow: rgba(0, 0, 0, 0.33);

  /* SURFACES */

  --cp-surface: var(--cp-zinc-1100);
  --cp-surface-subdued: var(--cp-zinc-900);


  --cp-surface-hovered: var(--cp-zinc-800);
  --cp-surface-pressed: var(--cp-zinc-1200);
  --cp-surface-active: rgba(39, 39, 42, 0.5);
  --cp-surface-input: var(--cp-zinc-1100);


  --cp-surface-secondary: var(--cp-pink-700);
  --cp-surface-secondary-subdued: var(--cp-pink-1100);
  --cp-surface-secondary-hovered: var(--cp-pink-600);
  --cp-surface-secondary-pressed: var(--cp-pink-900);
  --cp-surface-secondary-light: var(--cp-pink-1100);

  --cp-surface-primary: var(--cp-violet-700);
  --cp-surface-primary-subdued: var(--cp-violet-1200);
  --cp-surface-primary-hovered: var(--cp-violet-500);
  --cp-surface-primary-pressed: var(--cp-violet-1100);
  --cp-surface-primary-light: var(--cp-violet-800);

  --cp-surface-critical: var(--cp-red-700);
  --cp-surface-critical-subdued: var(--cp-orange-1100);
  --cp-surface-critical-hovered: var(--cp-red-600);
  --cp-surface-critical-pressed: var(--cp-red-900);

  --cp-surface-warning: var(--cp-yellow-700);
  --cp-surface-warning-subdued: var(--cp-yellow-1100);

  --cp-surface-success: var(--cp-green-700);
  --cp-surface-success-subdued: var(--cp-green-1100);

  /* TEXT */
  --cp-text: var(--cp-gray-100);
  --cp-text-soft: var(--cp-gray-300);
  --cp-text-strong: var(--cp-gray-500);
  --cp-text-disabled: var(--cp-gray-800);

  --cp-text-critical: var(--cp-red-500);
  --cp-text-warning: var(--cp-yellow-500);
  --cp-text-success: var(--cp-green-500);
  --cp-text-secondary: var(--cp-pink-500);

  --cp-text-primary: var(--cp-violet-500);
  --cp-text-on-primary: var(--cp-violet-600);

  /* ICONS */
  --cp-icon: var(--cp-gray-100);
  --cp-icon-disabled: var(--cp-gray-300);
  --cp-icon-on-primary: var(--cp-gray-500);

  --cp-icon-critical: var(--cp-red-500);
  --cp-icon-warning: var(--cp-yellow-500);
  --cp-icon-success: rgb(103, 159, 78);

  --cp-icon-primary: var(--cp-violet-500);
  --cp-icon-secondary: var(--cp-pink-500);

  /* BORDERS */

  /* don't use  */

  --cp-border: #47464a88;
  --cp-border-critical: var(--cp-red-500);
  --cp-border-warning: var(--cp-yellow-500);
  --cp-border-success: #689e4f;
  --cp-border-primary: #bbb8e5;
  --cp-border-secondary: var(--cp-pink-500);
  --cp-border-focus: var(--cp-teal-500);
}
